<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YourCommunityWorkshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Workshop"
   providerName="System.Data.SQLClient"
   connectionString="Data Source = OKTAY-L5P ; Integrated Security = true; Initial Catalog = YourCommunityWorkshop" />
	</connectionStrings>
 <userSettings>
  <YourCommunityWorkshop.Properties.Settings>
   <setting name="Colour" serializeAs="String">
    <value>White</value>
   </setting>
  </YourCommunityWorkshop.Properties.Settings>
 </userSettings>
</configuration>